<form>
    <div class="form-group" *ngFor="let pedidoComprado of pedidosComprados;">
        
        <div class="input-group" *ngIf="pedidoComprado.desconto > 0">
            <p > {{pedidoComprado.nome}}:  <s>{{ pedidoComprado.preco  | currency:'BRL':'symbol':'1.2-2':'pt' }}</s> {{ pedidoComprado.preco - pedidoComprado.desconto  | currency:'BRL':'symbol':'1.2-2':'pt' }}</p>
        </div>

        <div class="input-group" *ngIf="pedidoComprado.desconto == 0">
            <p> {{pedidoComprado.nome}}:  {{ pedidoComprado.preco | currency:'BRL':'symbol':'1.2-2':'pt' }}</p>
        </div>

    </div>
</form>