<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <h3>
            #
          </h3>
        </th>
        <th scope="col">
          <h3>
            Aproveite nossas promoções do dia aqui no Bar do DG!
          </h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Na compra de 1 cerveja e 1 suco, a cerveja sai por R$ 3,00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Na compra de 3 conhaques e 2 cervejas a água sai de graça</td>
      </tr>
    </tbody>
  </table>
</div>