/****** Object:  Table [dbo].[TbBDG_Comanda]    Script Date: 18/08/2020 10:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBDG_Comanda](
	[ID_COMANDA] [bigint] IDENTITY(1,1) NOT NULL,
	[DT_ABERTURA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMANDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBDG_ComandaPedido]    Script Date: 18/08/2020 10:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBDG_ComandaPedido](
	[ID_COMANDA_PEDIDO] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_COMANDA] [bigint] NOT NULL,
	[ID_PEDIDO] [bigint] NOT NULL,
	[VL_DESCONTO_APLICADO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMANDA_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBDG_Log]    Script Date: 18/08/2020 10:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBDG_Log](
	[ID_LOG] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_LOG] [varchar](max) NOT NULL,
	[DS_MENSAGEM] [varchar](max) NULL,
	[DS_STACK_TRACE] [varchar](max) NULL,
	[DS_LEVEL] [varchar](10) NOT NULL,
	[DT_LOG] [datetime] NOT NULL,
	[DS_OBJETO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBDG_Pedidos]    Script Date: 18/08/2020 10:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBDG_Pedidos](
	[ID_PEDIDO] [bigint] IDENTITY(1,1) NOT NULL,
	[NM_PEDIDO] [varchar](30) NOT NULL,
	[VL_PEDIDO] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBDG_UsuarioSistema]    Script Date: 18/08/2020 10:24:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBDG_UsuarioSistema](
	[ID_USUARIO_SISTEMA] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_LOGIN] [varchar](50) NOT NULL,
	[DS_SENHA] [varbinary](500) NOT NULL,
	[FL_ATIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO_SISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
