<div class="content-wrapper">
    <div class="container">

      <section class="content-header">
        <h2>
          Cardápio do DG
        </h2>
      </section>

      <section class="content">

        <div class="row">

            <bdg-pedido
                style="padding-bottom: 25px;"
                *ngFor="let pedido of pedidos;" 
                [pedido]="pedido"
                (evento)="eventoRecebido($event)"></bdg-pedido>
            
        </div>

        <div class="row">

          <bdg-promocoes></bdg-promocoes>
        
        </div>

        <div class="row">
          <p> Total: </p>
          <h4> {{totalPedido() | currency:'BRL':'symbol':'1.2-2':'pt' }}</h4>
        </div>
        
        <br>
        
        <div class="row">
          <div style="padding-left: 15px;">
            <button class="btn btn-danger">Limpar Comanda</button>
          </div>
          
          <div style="padding-left: 15px;">
            <button class="btn btn-info" (click)="open(content)">Vizualizar Prévia</button>
          </div>

          <div style="padding-left: 15px;">
            <button class="btn btn-success" (click)="fecharComanda()">Fechar Comanda</button>
          </div>
          
        </div>

      </section>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Prévia da comanda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
          
      <bdg-carrinho-compras 
        [pedidosComprados]="pedidosComprados"></bdg-carrinho-compras>
    
  </div>
  <div class="modal-footer">
  </div>
</ng-template>